<%- include('partials/header') %>

<main>
  <h3>Error 404, page not found</h3>

    <img src="/images/Leonardo_Diffusion_XL_error_404_page_not_found_<%= Math.floor(Math.random()*4)%> (1).jpg" alt="" style="margin-left: 10vw; margin-right: 10vw;">    


</main>

<%- include('partials/footer') %>
